<h1>Login</h1>

<%= form_with url: sessions_path, local: true do |f| %>
    
    <%= f.label :name, 'User Name' %>
    <%= f.text_field :name, :class => 'form-control' %>

    <%= f.label :password, 'Password' %>
    <%= f.password_field :password, :class => 'form-control' %><br>

    <%= f.submit 'Login' %>
<% end %><br>

<%= link_to "Login via GitHub", "/auth/github" %>
