<% if video.errors.any? %>
  <div id="error_explanation">
    <ul>
    <% video.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: video, local: true do |f| %>
    <p>
      <%= f.label :title %><br>
      <%= f.text_field :title, :class => 'form-control'  %>
    </p>
    <p>
      <%= f.label :description %><br>
      <%= f.text_area :description, :class => 'form-control'  %>
    </p>
    <p>
      <%= f.label :video_url %><br>
      <%= f.text_field :video_url, :class => 'form-control'  %>
    </p>
    <p>
      <%= f.label :image_url %>
      <%= f.file_field :image_url%>
    </p>
    <p>
      <%= f.label :released_year %><br>
      <%= f.text_field :released_year, :class => 'form-control'  %>
    </p>
    <div class="checkbox_container">
      <%= f.collection_check_boxes :genre_ids, Genre.order(:title), :id, :title, include_hidden: false do |b| %>
        <div>
          <%= b.check_box %>
          <%= b.label %>
        </div>
      <% end %>
    </div>

    <% if video.id == nil %>
      <p>
        New Genres:
        <ul>
        <%= f.fields_for :genres do |genres_form| %>
          <li>
                <%= genres_form.label :title %>
                <%= genres_form.text_field :title %>
            </li>
          <% end %>
        </ul>
      </p>
    <% end %>

    <p>
      <%= f.submit %>
    </p>
  <% end %>