<h1>Videos</h1>
<%= link_to 'New Video', new_video_path %><br><br>

<%= form_with(url: '/videos', method: 'get', local: true) do |f| %>
  <%= collection_select :genre, :genre_id, Genre.order(:title), :id, :title, :prompt => 'Genres' %>
  <%= f.submit "Search" %>
<% end %>

<br><br>
<ul>
  <% @videos.each do |video| %>
    <li>
        <%= link_to video.title, video %> 
    </li>
  <% end %>
</ul>

  