<%= link_to 'Back', videos_path %><br>

<ul>
  <li><%= link_to 'Edit Video', edit_video_path(@video) %></li>
  <li><%= link_to "Delete Video", video_path(@video),
                method: :delete,
                data: { confirm: "Are you sure?" } %></li>
</ul>

<%= render @video %>

<h2>Genres</h2>
<%= render @video.genres %>

<div id="star-rating">
  <% if @video.rating_to_stars.blank? %>
    <%= link_to 'Please add a Review',{ controller: 'reviews', action: 'new', id: @video.id } %>
  <% else %>
    Rating: <%=link_to render_stars(@video.rating_to_stars), reviews_path %>
  <% end %>
</div> 