<h2><%= @reviews.first.video_name %> Reviews</h2>

<%= link_to 'Back', video_path(@reviews.first.video) %> | 
<% if user_video_exists?(@reviews.first.video) %>
    <%=link_to 'Edit review', edit_video_review_path(@reviews.first.video_id, review_by_user_video(@reviews.first.video)) %> | 
    <%= link_to "Delete review", video_review_path(@reviews.first.video, review_by_user_video(@reviews.first.video)),
                method: :delete,
                data: { confirm: "Are you sure?" } %><br><br>
<% else %>
    <%=link_to 'Write a review', new_video_review_path(@reviews.first.video_id) %><br>
<% end %>

<% @reviews.each do |review| %>
    <strong>Review By: <%= review.user_name %> </strong><br>
    <strong>Rating: <%= render_stars(review.rating) %> </strong><br>
    <strong>Description: <%= review.description %> </strong><br><br>
<% end %>