<h2><%= @video.title %> Reviews</h2>

<%= link_to 'Back', video_path(@video) %> | 
<% if user_video_exists?(@video) %>
    <%=link_to 'Edit review', edit_video_review_path(@video.id, review_by_user_video(@video)) %> | 
    <%= link_to "Delete review", video_review_path(@video, review_by_user_video(@video)),
                method: :delete,
                data: { confirm: "Are you sure?" } %><br><br>
<% else %>
    <%=link_to 'Write a review', new_video_review_path(@video.id) %><br>
<% end %>

<% @reviews.each do |review| %>
    <strong>Review By: <%= review.user_name %> </strong><br>
    <strong>Rating: <%= render_stars(review.rating) %> </strong><br>
    <strong>Description: <%= review.description %> </strong><br><br>
<% end %>