
<h2> Users </h2>
<p>
    There are <%= @users_count %> users in system. 
    <%= link_to 'Manage Users', users_path %>
</p>
<hr>

<h2> Genres </h2>
<p>
    There are <%= @genres_count %> Genres in system. 
    <%= link_to 'Manage Genres', genres_path %>
</p>
<hr>

<h2> Videos </h2>
<p>
    There are <%= @videos_count %> Videos in system. 
    <%= link_to 'Manage Videos', videos_path %>
</p>
<hr>