<!DOCTYPE html>
<html>
  <head>
    <title>MyFlix</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
  </head>

  <body>
  <nav class="navbar fixed-top navbar-expand-lg  navbar-gray bg-dark">
    <a class="navbar-brand" href="<%= root_path %>">MyFlix</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      <% if !current_user %>
        <li class="nav-item">
          <a class="nav-link" href="<%= new_user_path %>"/> Sign Up <span class="sr-only">(current)</span></a>  
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= login_path %>"/> Log in <span class="sr-only">(current)</span></a>  
        </li>
      <% elsif is_admin? %>
        <li class="nav-item">
          <a class="nav-link" href="<%= videos_path %>"/> Videos <span class="sr-only">(current)</span></a>  
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= genres_path %>"/> Genres <span class="sr-only">(current)</span></a>  
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= users_path %>"/> Users <span class="sr-only">(current)</span></a>  
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= logout_path %>"/> Log out <span class="sr-only">(current)</span></a>  
        </li>
        <% else %>
          <li class="nav-item">
          <a class="nav-link" href="<%= videos_path %>"/> Videos <span class="sr-only">(current)</span></a>  
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"/> My List <span class="sr-only">(current)</span></a>  
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= current_user.name if current_user %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="<%= user_path(current_user) %>">Account</a>
              <a class="dropdown-item" href="<%= user_path(current_user) %>">Friends Invitation</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="<%= logout_path %>" /> Log out </a>
            </div>
          </li>
      <% end %>
      </ul>
      
    </div>
  </nav>
  <div class="container"  role="main" >
      <%= yield %>
  </div>
  
  </body>
  
</html>
